.excursion__title {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
}


@media screen and (max-width: 768px) {
    .excursion__title {
        max-width: 265px;


    }
}

@media screen and (max-width: 428px) {
    .excursion__title {
        max-width: 253px;
    }
}