.body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    font-family: 'Montserrat';
    font-style: normal;
    font-family: 'Gotham Pro';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

}

@media screen and (max-width: 768px) {
    .body {
        max-width: 768px;


    }
}

@media screen and (max-width: 428px) {
    .body {
        max-width: 428px;

    }
}