.form__button {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 109px;
    margin-left: 79px;
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    color: white;
}

@media screen and (max-width: 768px) {
    .form__button {
        margin-bottom: 79px;
    }
}

@media screen and (max-width: 428px) {
    .form__button {
        margin-bottom: 138px;
        margin-left: 24px;
    }
}