.body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    font-family: 'Montserrat';
    font-style: normal;
    font-family: 'Gotham Pro';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

}

@media screen and (max-width: 768px) {
    .body {
        max-width: 768px;


    }
}

@media screen and (max-width: 428px) {
    .body {
        max-width: 428px;

    }
}


.header {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    background-image: url(./image/фонheader.png);
    background-repeat: no-repeat;
    position: relative;

}

@media screen and (max-width: 768px) {
    .header {
        background-image: url(./image/header_img.png);


    }
}

@media screen and (max-width: 428px) {
    .header {
        background-image: url(./image/header_img428.png);


    }
}

.header__logo {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 58px;
    margin-left: 12.5%;
    margin-top: 27px;
    margin-bottom: 152px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin-left: 10.28%;
        margin-bottom: 235px;
    }
}

@media screen and (max-width: 428px) {
    .header__logo {
        margin-left: 5.6%;
        margin-bottom: 116px;
    }
}



.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 11.12%;
}


.header__button-menu {
    margin: 0;
    border: none;
    background-color: transparent;
    background-image: url(./image/меню\ \(1\).png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    display: none;

}

@media screen and (max-width: 768px) {
    .header__button-menu {
        display: block;
        margin-top: 40px;

    }
}


.header__links-list {
    margin: 0;
    padding: 0;
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}

@media screen and (max-width: 768px) {
    .header__links-list {
        display: none;

    }
}


.header_link {
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
}

.header_link:last-child {
    margin-right: 0;
}

.header_link-punkt {
    margin: 0;
    max-width: 124px;
    text-decoration: none;
    color: #FFFFFF;
}

.header_link-punkt:focus {
    color: #FFC700;
}

.header_link-punkt:hover {
    opacity: 0.8;
}

.header__title {
    margin: 0;
    margin-left: 11.11%;
    max-width: 723px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .header__title {
        max-width: 395px;

    }
}

@media screen and (max-width: 428px) {
    .header__title {
        max-width: 296px;

    }
}

.header__title_white {
    margin: 0;
    max-width: 723px;
    align-self: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .header__title_white {
        margin-bottom: 12px;
        max-width: 395px;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }
}

@media screen and (max-width: 428px) {
    .header__title_white {
        max-width: 296px;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }
}

.header__title_yellow {
    margin: 0;
    margin-top: -40px;
    max-width: 723px;
    margin-right: 32px;
    align-self: flex-end;
    font-family: 'mr_KindlyJasmineG';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #FFC700;
}

@media screen and (max-width: 768px) {
    .header__title_yellow {
        margin-top: -25px;
        margin-right: -62px;
        max-width: 395px;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
    }
}

@media screen and (max-width: 531px) {
    .header__title_yellow {
        max-width: 296px;
        margin-bottom: 18px;
        margin-right: -24px;
    }
}

@media screen and (max-width: 480px) {
    .header__title_yellow {
        max-width: 200px;
        margin-right: 5px;
    }
}


.header__title_transporent {
    margin: 0;
    margin-top: -40px;
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    text-shadow: 0 0 2px #fff;


}

@supports (-webkit-text-stroke: 1px white) {
    .header__title_transporent {
        text-shadow: none;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
}


@media screen and (max-width: 768px) {
    .header__title_transporent {
        max-width: 406px;
        font-weight: 900;
        font-size: 96px;
        line-height: 90%;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 428px) {
    .header__title_transporent {
        max-width: 305px;
        font-size: 72px;
        line-height: 90%;
    }
}


.button {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 248px;
    margin-left: 11.11%;
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;

}

@media screen and (max-width: 768px) {
    .button {
        margin-left: 10.28%;
        margin-bottom: 321px;

    }
}

@media screen and (max-width: 428px) {
    .button {
        margin-bottom: 401px;
        margin-left: 5.6%;
    }
}

.button:hover {
    scale: 1.05;
    cursor: pointer;
}

.button-linlk {
    text-decoration: none;
    max-width: 220px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}

.header__sotial {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 18px;
    position: absolute;
    top: 341px;
    right: 160px;
    list-style-type: none;
}

@media screen and (max-width: 966px) {
    .header__sotial {
        top: 441px;


    }
}

@media screen and (max-width: 768px) {
    .header__sotial {
        top: 465px;
        right: 81px;

    }
}

@media screen and (max-width: 568px) {
    .header__sotial {
        top: 565px;
        right: 81px;

    }
}

@media screen and (max-width: 428px) {
    .header__sotial {
        top: 625px;
        right: 26px;
    }
}


.header__sotial-vk {
    background-image: url(./image/vk\ 1.svg);
    width: 30px;
    height: 30px;
    margin-bottom: 24px;
}

@media screen and (max-width: 966px) {
    .header__sotial-vk {
        margin-bottom: 22px;
    }
}

.header__sotial-inst {
    background-image: url(./image/inst\ 1.svg);
    width: 30px;
    height: 30px;
    margin-bottom: 24px;
}

@media screen and (max-width: 966px) {
    .header__sotial-inst {
        margin-bottom: 22px;
    }
}

.header__sotial-fb {
    background-image: url(./image/facebook\ 1.svg);
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 966px) {
    .header__sotial-fb {
        margin-bottom: 22px;
    }
}

.sotial__link:hover {
    scale: 1.1;
    cursor: pointer;

}

.iframe__block {
    margin: 0;
    margin-top: -110px;
    margin-left: 63%;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    max-width: 740px;
    overflow: scroll;
    padding-bottom: 2px;

}

@media screen and (max-width: 768px) {
    .iframe__block {
        max-width: 610px;
        margin-left: 37.63%;
    }
}

@media screen and (max-width: 428px) {
    .iframe__block {
        max-width: 740px;
        margin-left: 24px;
    }
}



.iframe__block::-webkit-scrollbar {
    width: 0;
    height: 7px;
}

.iframe__block::-webkit-scrollbar-track {

    -webkit-box-shadow: 2px 2px 2px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 2px;
}

.iframe__block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}


.iframe__block::-webkit-scrollbar-track-piece {
    margin-top: 100px;
}


.iframe__video {
    display: none;
    border-radius: 10px;
    width: 360px;
    height: 227px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .iframe__video {
        width: 295px;
        height: 187px;

    }
}

@media screen and (max-width: 428px) {
    .iframe__video {
        max-width: 740px;
    }
}


.iframe__img {
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    object-position: center;
    object-fit: contain;
    margin-right: 20px;
    max-width: 360px;
    height: 227px;
    z-index: 1;
}

.iframe__img_type_caiac {
    background-image: url("./image/каякфото.png");
}

.iframe__img_type_dahovskaia {
    background-image: url("./image/горнаятрасса.jpg");
}

.iframe__img_type_dzipping {
    background-image: url("./image/джиппинг.jpg");
}

.iframe__img-play {
    margin-top: 81px;
    margin-left: 147px;
    margin-right: 147px;
}

.iframe__button {
    background: transparent;
    border: none;
    margin-top: 81px;
    margin-left: 147px;
    margin-right: 147px;
    width: 72px;
    height: 72px;
    background-image: url(./image/play.svg);
    cursor: pointer;
}

.iframe__button:hover {
    scale: 1.1;
}

.excursions {
    margin-left: 11.11%;
    right: 0;
    position: relative;
}


.excursions__block {
    margin: 0;
    padding: 0;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.excursions__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

.excursions__link {
    margin: 0;
    margin-top: 10px;
    margin-right: 11.11%;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #282828;
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    .excursions__link {
        margin-right: 5%;

    }
}

@media screen and (max-width: 428px) {
    .excursions__link {
        margin-right: 24px;
    }
}


.excursions__link:hover {
    scale: 1.1;
}

.excursions__list {
    padding-bottom: 62px;
    display: flex;
    flex-direction: row;
    overflow: scroll;

}



@media screen and (max-width: 428px) {
    .excursions__list {
        padding-bottom: 77px;
    }
}

.excursion__conteiner {
    margin: 0;
    min-width: 360px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-repeat: no-repeat;
    min-height: 497px;
}

@media screen and (max-width: 768px) {
    .excursion__conteiner {
        width: 295px;

    }
}

@media screen and (max-width: 428px) {
    .excursion__conteiner {
        width: 280px;

    }
}

.excursion__conteiner_type_adler {
    background-image: url(./image/мост.png);

}

.excursion__conteiner_type_horses {
    background-image: url(./image/кони.png);

}

.excursion__conteiner_type_waterfall {
    background-image: url(./image/водопад.png);
}

.excursion__conteiner_type_temple {
    background-image: url(./image/храм.jpg);
}


.excursion__conteiner_type_mountain {
    background-image: url(./image/гора.jpg);
}

.excursion__conteiner_type_cave {
    background-image: url(./image/пещера.jpg.crdownload);
}

.excursion__conteiner_type_riverWhit {
    background-image: url(./image/река.jpg);
}

.excursion__conteiner_type_river {
    background-image: url(./image/река\ белая.jpg);
}

.excursion__type {
    margin: 0;
    margin-top: 211px;
    margin-bottom: 2px;
    margin-left: 16px;
    max-width: 320px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .excursion__type {
        max-width: 265px;


    }
}

@media screen and (max-width: 428px) {
    .excursion__type {
        max-width: 253px;
    }
}

.excursion__title {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
}


@media screen and (max-width: 768px) {
    .excursion__title {
        max-width: 265px;


    }
}

@media screen and (max-width: 428px) {
    .excursion__title {
        max-width: 253px;
    }
}

.excursion__information {
    margin: 0;
    margin-top: 12px;
    display: flex;
    flex-direction: row;

}


.excursion__time {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.excursion__price {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.excursion__time-photo {
    margin-left: 16px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

.excursion__time-text {
    max-width: 47px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .excursion__time-text {
        max-width: 43px;


    }
}


.excursion__price-photo {
    width: 15px;
    height: 15px;
    margin-left: 16px;
    margin-right: 5px;
}

.excursion__price-text {
    margin: 0;
    max-width: 47px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}




.excursion__button {
    margin: 0;
    margin-left: 16px;
    width: 160px;
    height: 40px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 40px;
    bottom: 42px;
    margin-top: 20px;
    border: none;
}


@media screen and (max-width: 768px) {
    .excursion__button {
        bottom: 31px;
        margin-top: 46px;


    }
}

@media screen and (max-width: 428px) {
    .excursion__button {

        margin-bottom: 30px;

    }
}


.excursion__button:hover {
    scale: 1.05;
    cursor: pointer;
}

.excursion__text {
    margin: 0;
    margin-left: 16px;
    max-width: 328px;
    min-width: 280px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .excursion__text {
        max-width: 265px;
        min-width: 240px;
    }
}

@media screen and (max-width: 428px) {
    .excursion__text {
        max-width: 253px;
        min-width: 240px;
    }
}


.excursion__button-linlk {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}


.excursions__list::-webkit-scrollbar {
    width: 0;
    height: 10px;

}

.excursions__list::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.excursions__list::-webkit-scrollbar-track {
    margin-left: 113px;
    -webkit-box-shadow: 2px 2px 2px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 2px;

}

.excursions__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 7px;
    background: linear-gradient(180deg, #00c6fb, #005bea);

}


.excursion__scroll-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    bottom: -18px;
}

.scroll-button-left {
    background-color: transparent;
    cursor: pointer;
    border: none;
    background-image: url(./image/Polygon\ 1.svg);
    color: gray;
    width: 24px;
    height: 43px;
    margin-right: 38px;
    border-radius: 3px;

}

.scroll-button-left:hover {
    scale: 1.1;
}

.scroll-button-right {
    background-color: transparent;
    cursor: pointer;
    border: none;
    background-image: url(./image/Polygon\ 1.svg);
    width: 24px;
    height: 43px;
    transform: rotate(-180deg);
}

.scroll-button-right:hover {
    scale: 1.1;
}


.information {
    max-width: 1480px;
    margin-top: 170px;
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 768px) {
    .information {
        max-width: 768px;
    }
}

@media screen and (max-width: 550px) {
    .information {
        max-width: 500px;
    }
}



.information__photo {
    margin: 0;
    left: 0;
    background-image: url("./image/озеро.png");
    background-repeat: no-repeat;
    width: 74.375%;
}

@media screen and (max-width: 768px) {
    .information__photo {
        background-image: url("./image/озеро728.png");
        width: 69.23%;
    }
}

@media screen and (max-width: 428px) {
    .information__photo {
        background-image: url("./image/озеро480.png");
        width: 71.02%;
    }
}

.information__info {
    margin-top: 137px;
    margin-right: 160px;
    margin-left: -333px;
    max-width: 542px;
    background: #EDEDED;
    border-radius: 10px;
    margin-bottom: 136px;
}

@media screen and (max-width: 768px) {
    .information__info {
        margin-right: 79px;
        margin-left: -250px;
        max-width: 493px;
    }
}

@media screen and (max-width: 550px) {
    .information__info {
       
        margin-left: -210px;
        max-width: 380px;
    }
}

.information__title {
    margin: 0;
    margin-top: 61px;
    margin-bottom: 40px;
    margin-left: 85px;
    max-width: 382px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

.information__text {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 75px;
    max-width: 382px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

@media screen and (max-width: 768px) {
    .information__text {
        margin-left: 56px;
        margin-right: 55px;

    }
}

@media screen and (max-width: 428px) {
    .information__text {
        margin-bottom: 10px;
        margin-left: 43px;
        margin-right: 43px;
        font-size: 13px;
        line-height: 16px;
        max-width: 294px;
    }
}


.information__text:last-child {
    margin-bottom: 105px;
}

.type {

    margin-left: 11.11%;
    margin-right: 11.11%;
}

@media screen and (max-width: 768px) {
    .type {
        max-width: 768px;
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 428px) {
    .type {
        max-width: 380px;
        margin-right: 24px;
        margin-left: 24px;
    }
}

.type__title {
    margin: 0;
    max-width: 220px;
    margin-top: 150px;
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

.type__conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

@media screen and (max-width: 768px) {
    .type__conteiner {
        grid-template-columns: 1fr;
        gap: 0;
        
        /*row-gap: 40px;*/

    }
}


.type__card {
    margin: 0;
    display: flex;
    flex-direction: row;
    
}

@media screen and (max-width: 768px) {
    .type__card {
       margin-bottom: 40px;
     
    }
}

.type__img {
    margin: 0;
    max-width: 75px;
    margin-right: 20px;

}

.type__about {
    display: flex;
    flex-direction: column;
}

.type__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0499DD;
    max-width: 455px;
}


@media screen and (max-width: 428px) {
    .type__subtitle {
        max-width: 285px;
    }
}

.type__text {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    max-width: 455px;
}

@media screen and (max-width: 768px) {
    .type__text {
        max-width: 515px;
    }
}

@media screen and (max-width: 428px) {
    .type__text {
        max-width: 285px;
        font-size: 13px;
        line-height: 16px;
    }
}

.type__action {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    max-width: 550px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #282828;
}


@media screen and (max-width: 428px) {
    .type__action {
        margin-left: 16, 53%;
        max-width: 380px;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 40px;
    }
}

.button_type_type {
    margin-left: 40.9%;
    margin-right: 40.9%;
    margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
    .button_type_type {
        margin-left: 34.74%;
        margin-right: 34.74%;
    }
}

@media screen and (max-width: 428px) {
    .button_type_type {
        margin-left: 20.625%;
        margin-right: 20.625%;
        margin-bottom: 167px;
    }
}

.gallery {
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    gap: 10px;
    margin-bottom: 120px;
    height: 720px;
    overflow-y: hidden;

}


@media screen and (max-width: 428px) {
    .button_type_type {
        margin-left: 20.625%;
        margin-right: 20.625%;
        margin-bottom: 167px;
    }
}



.gallery__item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;

}

.gallery__image {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.gallery__item:nth-child(6) {
    grid-column: 7/11;
    grid-row: 2/3;
    /* озеро*/
}

@media screen and (max-width: 768px) {
    .gallery__item:nth-child(6) {
        grid-column: 4/11;

    }
}

@media screen and (max-width: 428px) {
    .gallery__item:nth-child(6) {
        grid-row: 3/6;
        grid-column: 1/11;

    }
}



.gallery__item:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/2;

}

@media screen and (max-width: 768px) {
    .gallery__item:nth-child(1) {
        display: none;
    }
}


.gallery__item:nth-child(3) {
    grid-column: 7/9;
    grid-row: 1/2;
    /*мотоцикл*/
}

@media screen and (max-width: 768px) {
    .gallery__item:nth-child(3) {
        grid-column: 4/8;

    }
}

@media screen and (max-width: 428px) {
    .gallery__item:nth-child(3) {
        grid-column: 6/11;
    }
}

.gallery__item:nth-child(2) {
    grid-column: 5/7;
    grid-row: 1/3;
    /*водопад*/

}


@media screen and (max-width: 768px) {
    .gallery__item:nth-child(2) {
        grid-column: 1/4;

    }
}

@media screen and (max-width: 428px) {
    .gallery__item:nth-child(2) {
        grid-column: 1/6;
        grid-row: 1/3;
    }
}

.gallery__item:nth-child(4) {
    grid-column: 3/5;
    grid-row: 2/3;
}

@media screen and (max-width: 768px) {
    .gallery__item:nth-child(4) {
        display: none;
    }
}

.gallery__item:nth-child(5) {
    grid-column: 1/3;
    grid-row: 2/3;
}

@media screen and (max-width: 768px) {
    .gallery__item:nth-child(5) {
        display: none;
    }
}

.gallery__item:nth-child(7) {
    grid-column: 9/11;
    grid-row: 1/2;

    /*замок*/

}



@media screen and (max-width: 768px) {
    .gallery__item:nth-child(7) {
        grid-column: 8/11;
    }
}

@media screen and (max-width: 428px) {
    .gallery__item:nth-child(7) {
        grid-column: 6/11;
        grid-row: 2/3;
    }
}

.gallery__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 90px;
}

.gallery__title {
    margin: 0;
    margin-left: 86px;
    max-width: 300px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

.gallery__link {
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-right: 11.11%;
    text-decoration-line: underline;
    color: #282828;
}

.gallery__link:hover {
    scale: 1.1;
}


.reviews {
    margin: 0;
    margin-bottom: 172px;
    margin-left: 11.11%;
    margin-right: 0;
    position: relative;

}

@media screen and (max-width: 768px) {
    .reviews {
        margin-left: 79px;
    }
}

@media screen and (max-width: 428px) {
    .reviews {
        margin-left: 24px;
    }
}

.reviews__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 90px;

}

.reviews__title {
    margin: 0;
    max-width: 300px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

.reviews__link {
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-right: 11.11%;
    text-decoration-line: underline;
    color: #282828;

}


.reviews__conteiner {
    margin: 0;
    padding-bottom: 62px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}




.review__card {
    margin: 0;
    margin-right: 20px;
    background-color: #EDEDED;
    border-radius: 10px;
    max-width: 740px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .review__card {
        max-width: 505px;
    }
}

@media screen and (max-width: 428px) {
    .review__card {
        max-width: 280px;
        flex-direction: column;
    }
}


.review__img {
    margin: 0;
    margin: 38px 28px 38px 45px;
    max-width: 245px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .review__img {
        max-width: 168px;
        margin-right: 20px;
        margin-left: 31px;
    }
}

@media screen and (max-width: 428px) {
    .review__img {
        max-width: 80px;
        margin-left: 28px;
    }
}

.review__text-conteiner {
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 428px) {
    .review__text-conteiner {
        margin-left: 28px;
    }
}

.review__human {
    margin: 0;
    margin-top: 38px;
    margin-bottom: 20px;
    max-width: 395px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #282828;

}

@media screen and (max-width: 768px) {
    .review__human {
        max-width: 153px;
    }
}



.review__text {
    margin: 0;
    margin-bottom: 94px;
    width: 395px;
    margin-right: 27px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #282828;
}

@media screen and (max-width: 768px) {
    .review__text {
        max-width: 269px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 428px) {
    .review__text {
        max-width: 228px;
        font-size: 13px;
        line-height: 16px;
    }
}


.reviews__conteiner::-webkit-scrollbar {
    width: 0;
    height: 10px;
    cursor: pointer;

}


.reviews__conteiner::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.reviews__conteiner::-webkit-scrollbar-track {
    margin-left: 113px;
    -webkit-box-shadow: 2px 2px 2px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 2px;

}

.reviews__conteiner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 7px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
    cursor: pointer;

}



.form {
    margin: 0;
    background-image: url(./image/фон\ формы.png);
    background-repeat: no-repeat;
    max-width: 1480px;
    min-height: 680px;
}

@media screen and (max-width: 768px) {
    .form {
        max-width: 768px;
        background-image: url(./image/фон768.png);
        min-height: 680px;
    }
}

@media screen and (max-width: 428px) {
    .form {
        max-width: 428px;
        background-image: url(./image/форма468.png);
        min-height: 928px;
    }
}

.form__title {
    margin: 0;
    margin-top: 132px;
    margin-left: 105px;
    margin-right: 195px;
    margin-bottom: 6px;
    max-width: 360px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .form__title {
        margin-left: 43px;
        margin-right: 97px;

    }
}

@media screen and (max-width: 811px) {
    .form__title {
        margin-left: 33px;
        margin-right: 77px;

    }
}

@media screen and (max-width: 768px) {
    .form__title {
        margin-top: 137px;
    }
}

@media screen and (max-width: 468px) {
    .form__title {
        margin-right: 77px;

    }
}



.form__subtitle {
    margin: 0;
    margin-left: 105px;
    margin-right: 195px;
    margin-bottom: 60px;
    max-width: 360px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
}

@media screen and (max-width: 1200px) {
    .form__subtitle {
        margin-left: 43px;
        margin-right: 97px;

    }
}

@media screen and (max-width: 811px) {
    .form__subtitle {
        margin-left: 33px;
        margin-right: 77px;

    }
}


@media screen and (max-width: 468px) {
    .form__subtitle {
        margin-right: 77px;

    }
}


.form__conteiner {
    margin: 0;
    margin-left: 45%;
    margin-right: 11.11%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 768px) {
    .form__conteiner {
        max-width: 400px;
        min-width: 380px;
        min-height: 640px;
        margin-left: 10.63%;
        margin-right: 79px;
        margin-right: 10%;
    }
}

@media screen and (max-width: 428px) {
    .form__conteiner {
        max-width: 380px;
        min-width: 300px;
        margin-left: 5%;
    }
}



.form__body {
    display: flex;
    flex-direction: column;

}

.form__input {
    margin: 0;
    margin-left: 105px;
    margin-right: 95px;
    background-color: transparent;
    border: none;
    max-width: 360px;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
    height: 30px;
    box-shadow: none;
}


@media screen and (max-width: 1200px) {
    .form__input {
        margin-left: 43px;
        margin-right: 97px;

    }
}

@media screen and (max-width: 811px) {
    .form__input {
        margin-left: 33px;
        margin-right: 77px;

    }
}

@media screen and (max-width: 768px) {
    .form__input {
        max-width: 316px;
        margin-left: 43px;
        margin-right: 41px;


    }
}

@media screen and (max-width: 428px) {
    .form__input {
        max-width: 295px;
        margin-right: 42px;

    }
}

.form__input:focus {
    outline: 0;
    outline-offset: 0;
}


.form__error {
    margin: 0;
    margin-left: 105px;
    max-width: 360px;
    color: red;
    min-height: 30px;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 768px) {
    .form__error {
        max-width: 316px;
        margin-left: 43px;
        margin-right: 41px;


    }
}

@media screen and (max-width: 428px) {
    .form__error {
        max-width: 295px;
        margin-right: 42px;

    }
}

.form__button {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 109px;
    margin-left: 79px;
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    color: white;
}

@media screen and (max-width: 768px) {
    .form__button {

        margin-bottom: 79px;


    }
}

@media screen and (max-width: 428px) {
    .form__button {
        margin-bottom: 138px;
        margin-left: 24px;
    }
}

.form__button_disabled {
    opacity: 0.5;
}

.form__error_visible {
    border-bottom: 2px solid red;
}

.footer {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;

    }
}

.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 42px;

}

@media screen and (max-width: 768px) {
    .footer__menu {
        order: 3;

    }
}

.footer__navigation {
    max-width: 100%;
    display: flex;
    flex-direction: column;


}

@media screen and (max-width: 768px) {
    .footer__navigation {
        margin-right: 94px;
        order: 1;

    }
}

.footer__contacts {
    margin: 0;
    margin-top: 52px;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .footer__contacts {
        margin: 0;
        margin-bottom: 30px;


    }
}

@media screen and (max-width: 768px) {
    .footer__contacts_type_nomber {
        margin: 0;
        margin-bottom: 30px;
        order: 3;


    }
}



.footer__contacts_type_sotial {

    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

@media screen and (max-width: 835px) {
    .footer__contacts_type_sotial {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .footer__contacts_type_sotial {
        order: 3;
    }
}


.footer__contacts-punct {
    display: flex;
    flex-direction: row;
    order: 2;
}



.footer__sotial {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 150px;
}

@media screen and (max-width: 768px) {
    .footer__sotial {
        margin: 0;
        order: 1;
    }
}

.footer__logo {
    margin: 0;
    margin-top: 40px;
    margin-left: 77px;
    margin-right: 50px;
    margin-bottom: 40px;
    width: 65px;
}

@media screen and (max-width: 768px) {
    .footer__logo {
        margin: 0;
        margin-top: 48px;
        margin-bottom: 15px;
    }
}

.footer__navigation {
    margin: 0;
    padding: 0;
    order: 1;
    margin-top: 53px;
    margin-bottom: 53px;
}

@media screen and (max-width: 768px) {
    .footer__navigation {
        margin: 0;
        order: 3;
    }
}

.footer_link {
    margin: 0;
    margin-bottom: 8px;
    margin-right: 50px;
    padding: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

@media screen and (max-width: 768px) {
    .footer_link {
        margin: 0;
        margin-bottom: 5px;
        
    }
}


.footer_link-punkt {
    text-decoration: none;
    color: #282828;
    

}

.footer_link-punkt:hover {
    opacity: 0.8;

}

.footer__contacts-icon {
    margin: 0;
    margin-right: 9px;
    width: 18px;
    height: 18px;
}

.footer__contacts-punct {
    margin-bottom: 8px;
}


.footer__contacts-namber {
    margin: 0;
    
}

.footer__contacts-namber_type_link {
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: #282828;
}

.footer__contacts-namber_type_link:hover {
    opacity: 0.8;
}

.footer__sotial-icon {
    margin-top: 25px;
    width: 31px;
    height: 20px;
    margin-right: 11px;
}

@media screen and (max-width: 768px) {
    .footer__sotial-icon {
        margin: 0;
        order: 1;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {
    .footer__contacts_type_sotial {
        order: 2;
    }
}