.body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    font-family: 'Montserrat';
    font-style: normal;
    font-family: 'Gotham Pro';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

}


.header {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    background-image: url(./image/фонheader.png);
    background-repeat: no-repeat;

}

.header__logo {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 50px;
    margin-left: 12.5%;
    margin-top: 27px;
    margin-bottom: 152px;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 11.12%;
}

.header__links-list {
    margin: 0;
    padding: 0;
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}

.header_link {
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
}

.header_link:last-child {
    margin-right: 0;
}

.header_link-punkt {
    margin: 0;
    max-width: 124px;
    text-decoration: none;
    color: #FFFFFF;
}

.header_link-punkt:focus {
    color: #FFC700;
}

.header_link-punkt:hover {
    opacity: 0.8;
}

.header__title {
    margin: 0;
    margin-left: 11.11%;
    max-width: 723px;
    display: flex;
    flex-direction: column;
}

.header__title_white {
    margin: 0;
    max-width: 723px;
    align-self: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
}

.header__title_yellow {
    margin: 0;
    margin-top: -40px;
    max-width: 723px;
    margin-right: 32px;
    align-self: flex-end;
    font-family: 'mr_KindlyJasmineG';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #FFC700;
}

.header__title_transporent {
    margin: 0;
    margin-top: -40px;
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    text-shadow: 0 0 2px #fff;


}

@supports (-webkit-text-stroke: 1px white) {
    .header__title_transporent {
        text-shadow: none;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
}

.header__button {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 248px;
    margin-left: 11.11%;
    width: 230px;
    height: 50px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    
}

.header__button:hover {
scale: 1.05;
cursor: pointer;
}

.header__button-linlk {
    text-decoration: none;
    max-width: 220px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    
}
.header__sotial {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 18px;
    position: absolute;
    top: 341px;
    right: 11.11%;
    list-style-type: none;
}


.header__sotial-vk {
    background-image: url(./image/vk\ 1.svg);
    width: 30px;
    height:30px;
    margin-bottom: 24px;
}
.header__sotial-inst {
    background-image: url(./image/inst\ 1.svg);
    width: 30px;
    height:30px; 
    margin-bottom: 24px; 
}
.header__sotial-fb {
    background-image: url(./image/facebook\ 1.svg);
    width: 30px;
    height:30px;  
}
.sotial__link:hover {
    scale: 1.1;
    cursor: pointer;

}

.iframe__block {
    margin: 0;
    margin-top: -110px;
    margin-left: 63%;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    max-width: 535px;
    overflow: scroll;

}

.iframe__block::-webkit-scrollbar {
    width: 2px;
    height: 7px;
  }
  
  .iframe__block::-webkit-scrollbar-track {
    -webkit-box-shadow: 2px 2px 2px -2px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 2px;
  }
  
  .iframe__block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }


.iframe__video {
    display: none;
   border-radius: 10px;
    width: 360px;
    height: 227px;
    margin-right: 20px;
}

.iframe__img {
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    object-position: center;
    object-fit: contain;
    margin-right: 20px;
    max-width: 360px;
    height: 227px;
}
.iframe__img_type_caiac {
    background-image: url("./image/каякфото.png");
}
.iframe__img_type_dahovskaia {
    background-image: url("./image/горнаятрасса.jpg");  
}

.iframe__img_type_dzipping {
    background-image: url("./image/джиппинг.jpg");    
}
.iframe__img-play {
    margin-top: 81px;
    margin-left: 147px;
    margin-right: 147px;
}
.iframe__button {
    background: transparent;
    border: none;
    margin-top: 81px;
    margin-left: 147px;
    margin-right: 147px;
    width: 72px;
    height: 72px;
    background-image: url(./image/play.svg);
    cursor: pointer;
}
.iframe__button:hover {
    scale: 1.1;
}