.button_type_type {
    margin-left: 40.9%;
    margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
    .button_type_type {
        margin-left: 25%;
        
        
    }
}


@media screen and (max-width: 428px) {
    .button_type_type {
        margin-left: 20%;
        margin-bottom: 167px;
    }
}