.header__sotial_fb {
    background-image: url(../../../../image/facebook\ 1.svg);
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 966px) {
    .header__sotial_fb {
        margin-bottom: 22px;
    }
}