.footer__contacts {
    margin: 0;
    margin-top: 52px;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .footer__contacts {
        margin: 0;
        margin-bottom: 30px;


    }
}