.excursions__link {
    margin: 0;
    margin-top: 10px;
    margin-right: 11.11%;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #282828;
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    .excursions__link {
        margin-right: 5%;

    }
}

@media screen and (max-width: 428px) {
    .excursions__link {
        margin-right: 24px;
    }
}


.excursions__link:hover {
    scale: 1.1;
}