.header__sotial_inst {
    background-image: url(../../../../image/inst\ 1.svg);
    width: 30px;
    height: 30px;
    margin-bottom: 24px;
}

@media screen and (max-width: 966px) {
    .header__sotial_inst {
        margin-bottom: 22px;
    }
}