.form__error {
    margin: 0;
    margin-left: 105px;
    max-width: 360px;
    color: red;
    min-height: 30px;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 768px) {
    .form__error {
        max-width: 316px;
        margin-left: 43px;
        margin-right: 41px;


    }
}

@media screen and (max-width: 428px) {
    .form__error {
        max-width: 295px;
        margin-right: 42px;

    }
}